/* start the cosmetics project styles - this style not crashed layout */

/* sprite */
#container li {
    background: url(csg-54357c0f41f69.png) no-repeat top left;
}
.sprite-ico-breadcrumbs{ background-position: 0 0; width: 13px; height: 9px; } 
.sprite-ico-catalog-1-1{ background-position: 0 -59px; width: 27px; height: 40px; } 
.sprite-ico-catalog-1{ background-position: 0 -149px; width: 27px; height: 40px; } 
.sprite-ico-catalog-2-1{ background-position: 0 -239px; width: 27px; height: 38px; } 
.sprite-ico-catalog-2{ background-position: 0 -327px; width: 27px; height: 38px; } 
.sprite-ico-catalog-3-1{ background-position: 0 -415px; width: 34px; height: 34px; } 
.sprite-ico-catalog-3{ background-position: 0 -499px; width: 34px; height: 41px; } 
.sprite-ico-catalog-4-1{ background-position: 0 -590px; width: 37px; height: 28px; } 
.sprite-ico-catalog-4{ background-position: 0 -668px; width: 37px; height: 28px; } 
.sprite-ico-checkbox-check{ background-position: 0 -746px; width: 13px; height: 13px; } 
.sprite-ico-checkbox{ background-position: 0 -809px; width: 13px; height: 13px; } 
.sprite-ico-filter-close{ background-position: 0 -872px; width: 7px; height: 5px; } 
.sprite-ico-filter-open{ background-position: 0 -927px; width: 7px; height: 5px; } 
.sprite-ico-find{ background-position: 0 -982px; width: 12px; height: 12px; } 
.sprite-ico-legion-logo{ background-position: 0 -1044px; width: 29px; height: 31px; } 
.sprite-ico-pdf{ background-position: 0 -1125px; width: 19px; height: 25px; } 
.sprite-ico-printer{ background-position: 0 -1200px; width: 25px; height: 25px; } 
.sprite-ico-skylarc-logo-green{ background-position: 0 -1275px; width: 65px; height: 61px; } 
.sprite-ico-skylarc-logo{ background-position: 0 -1386px; width: 54px; height: 52px; } 
.sprite-ico-slider-filter-active{ background-position: 0 -1488px; width: 16px; height: 16px; } 
.sprite-ico-slider-filter{ background-position: 0 -1554px; width: 16px; height: 16px; } 
.sprite-ico-slider-next-active{ background-position: 0 -1620px; width: 27px; height: 51px; } 
.sprite-ico-slider-prev{ background-position: 0 -1721px; width: 27px; height: 51px; } 
.sprite-ico-tovar-1{ background-position: 0 -1822px; width: 31px; height: 26px; } 
.sprite-ico-tovar-2{ background-position: 0 -1898px; width: 28px; height: 15px; } 
.sprite-ico-tovar-4{ background-position: -75px 0; width: 23px; height: 27px; } 
.sprite-ico-tovar-5{ background-position: -75px -77px; width: 25px; height: 16px; } 

/* transitions */
*{
	
}